html
{
    background-image: url('deadlift.jpg');
    background-size: cover;
    text-align: center;
    color: black; 
    margin: auto;

}

body
{
    display: inline-block;
}

h1
{
    display: inline-block;
    background-color: burlywood;

}

h2
{
    display: inline-grid;
    background-color: burlywood; 

}

h3
{
    display: inline-grid;
    background-color: burlywood;

}

p
{
    background-color: burlywood;
}

label
{
    background-color: burlywood;
}

ul
{
    background-color: burlywood; 
    text-align: left;
    display: inline-grid;
}

li
{
    list-style: inside;
}
